// Colors
$forest-green: #4F6F52;
$light-olive: #AAB396;  
$beige: #E7E8D8;
$white-color: #fff; 
$black-color: #333;
$light-gray: #f7f7f7; 
$shadow-color: rgba(0, 0, 0, 0.1); 
$alert-red: #a94442;  
$alert-background: #ffdddd;  



// Border radius
$border-radius: 10px;

// Font
$font-stack: 'Poppins', sans-serif;

$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;